<footer class="footer">
  <small>
    <a href="http://instant-inventories.com">Instant Inventories</a>
    by Michael Griffiths
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %><li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://instant-inventories.co.uk/user">Instant Inventories Log-in</a></li>
   </ul>
  </nav>

</footer>
